/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/
body {
    overflow-x: hidden;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
    outline-offset: 0px;
}

input:focus-visible {
    outline-offset: 0px;
     outline: -webkit-focus-ring-color auto 0px !important;
}

[type=button]:focus, [type=submit]:focus,  button:focus {
    outline-offset: 0px;
     outline: -webkit-focus-ring-color auto 0px !important;
}

:focus-visible {
    outline-offset: 0px;
     outline: -webkit-focus-ring-color auto 0px !important;
}

[type=submit]:hover, button:focus, button:hover {
    color: #fff;
    background-color: #1e42dd;
    text-decoration: none;
}
.elementor-button {
    border-radius: 7px;
}

label {
    padding-bottom: 10px;
}

select {
    background-position: right 1rem center !important;
    background-repeat: no-repeat !important;
}

a {
    color: #385dff;
    text-decoration: none;
}

.h1,h1 {
    font-size: 2.125rem;
    line-height: 42px;
}

.h2,h2 {
    font-size: 1.5rem;
    line-height: 32px;
}

.h3,h3 {
    font-size: 1.25rem;
    line-height: 28px;
}

.h4,h4 {
    font-size: 1.125rem;
    line-height: 24px;
}

.h5,h5 {
    font-size: 1rem;
    line-height: 21px;
}

.h6,h6 {
    font-size: .75rem;
    line-height: 21px;
}

.postcontent h2 {
font-size: 1.5rem !important;
    line-height: 32px !important;
}

.postcontent p {
    font-size: 19px !important;
    line-height: 32px !important;
}

.postcontent ul {
    margin: 0 0 1rem 0rem !important;
}

.postcontent h3 {
    font-size: 1.25rem !important;
    line-height: 28px !important;
}

.postcontent h4 {
    font-size: 1.25rem !important;
    line-height: 28px !important;
}

.postcontent h1, h2, h3, h4, h5, h6 {
    margin-block-end: 0.5rem !important;
}

@media only screen and (max-width: 600px) {

.postcontent h2 {
    font-size: 1.5rem;
    line-height: 32px;
}

.postcontent h3 {
    font-size: 1.25rem;
    line-height: 28px;
    
}
    
.postcontent P {
    font-size: 17px;
    line-height: 1.7em;
}
.postcontent ul {
    margin: 0 0 1rem 0rem !important;
}

}
